@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --cor01: #eceeea;
  --COR02: #545454;

  --fonte-padrão: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fonte-padrão);
}

header {
  position: fixed;
  z-index: 3;
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

header img {
  width: 90px;
}

header span {
  height: 10rem;
}

/* Botão do menu hambúrguer */
.menu-toggle {
  display: flex; /* Mostra o botão */
  flex-direction: column; /* Alinha as barras verticalmente */
  cursor: pointer; /* Muda o cursor para mãozinha */
}
/* Linhas do menu hambúrguer */
.menu-toggle span {
  background: white;
  height: 2px;
  width: 25px;
  margin: 3px 0;
  transition: 0.3s;
}

nav {
  display: none; /* Esconde o menu por padrão */
  flex-direction: column; /* Alinha links na vertical */
  background-color: #444; /* Cor de fundo do menu */
  position: absolute; /* Permite posicionamento no topo */
  top: 50px;
  right: 20px;
  border-radius: 5px;
}

nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
}

#nav_cadastro {
  background-color: black;
  color: white;
  transition: color 0.3s;
}

nav a:hover {
  color: #f4a261;
}

nav.active {
  display: flex;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  padding: 60px 0 10px 0;
}

p,
label,
input,
textarea {
  color: var(--COR02);
  text-align: center;
  display: block;
  margin: auto;
}

#email {
  text-decoration: none;
  color: black;
}

label {
  padding-top: 15px;
  padding-bottom: 3px;
}

input {
  width: 250px;
  border: 1px solid #000000;
}

textarea {
  width: 350px;
  border: 1px solid #000000;
}

#textarea small {
  display: flex;
  justify-content: flex-end;
  width: 350px;
  margin: 0 auto;
}

button {
  text-decoration: none;
  width: 100px;
  text-align: center;
  background-color: black;
  font-size: 0.9rem;
  color: white;
  display: block;
  margin: 20px auto;
  padding: 10px;
  border-radius: 2px;
}


/* ------------------Footer---------------- */

footer {
  background-color: black;
  color: white;
  position: relative;
  top: calc(100vh - 600px);
}

footer p {
  color: white;
  margin: 10px auto 10px auto;
}

#footer_logo {
  margin: 10px 10px 0 10px;
  width: 90px;
}

#icone_content {
  width: 60%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}

.icone_img {
  width: 30px;
}

.servicos_footer {
  display: none;
  margin-left: 35%;
  margin-top: 0;
  color: #a3a2a2;
  font-size: 0.8rem;
}

#contato_ul {
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 20px;
  color: #a3a2a2;
}

@media (min-width: 768px) {
  header {
    background-color: white;
  }
  #menu-toggle {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    background-color: white;
    position: relative;
    top: 0px;
    right: -5px;
  }

  nav a {
    color: black;
    font-weight: 500;
  }

  #nav_cadastro {
    border-radius: 5px;
  }

  /* -------------CORPO---------------- */
  input {
    width: 300px;
  }

  textarea {
    width: 650px;
  }

  #textarea small {
    width: 650px;
  }

  /* footer */
  #footer_container {
    display: flex;
    justify-content: space-around;
    width: 95%;
  }

  #icone_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
  }

  #icone_p {
    font-size: 0.8rem;
    color: #a3a2a2;
  }

  #icone_content {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
  }

  .servicos_footer {
    display: block;
    margin-left: 30px;
    margin-top: 0;
    color: #a3a2a2;
    font-size: 0.8rem;
    padding-bottom: 20px;
  }
}
