@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --cor01: #eceeea;
  --COR02: #545454;

  --fonte-padrão: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fonte-padrão);
}

/* Fiz esse site em mobile-firt */

/* -------------CABEÇALHO-------------*/

section {
  max-width: 800px;
  margin: 0 auto;
}

header {
  position: fixed;
  z-index: 3;
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

header img {
  width: 90px;
}

header span {
  height: 10rem;
}

/* Botão do menu hambúrguer */
.menu-toggle {
  display: flex; /* Mostra o botão */
  flex-direction: column; /* Alinha as barras verticalmente */
  cursor: pointer; /* Muda o cursor para mãozinha */
}
/* Linhas do menu hambúrguer */
.menu-toggle span {
  background: white;
  height: 2px;
  width: 25px;
  margin: 3px 0;
  transition: 0.3s;
}

nav {
  display: none; /* Esconde o menu por padrão */
  flex-direction: column; /* Alinha links na vertical */
  background-color: #444; /* Cor de fundo do menu */
  position: absolute; /* Permite posicionamento no topo */
  top: 50px;
  right: 20px;
  border-radius: 5px;
}

nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
}

#nav_cadastro {
  background-color: black;
  color: white;
  transition: color 0.3s;
}

nav a:hover {
  color: #f4a261;
}

nav.active {
  display: flex;
}

/* -------------CORPO DO TEXTO-------------*/

h1 {
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  padding: 60px 0 10px 0;
}

h2 {
  text-align: center;
  padding: 40px 0 15px 0;
  font-size: 2rem;
  font-weight: 350;
  width: 80%;
  margin: auto;
}

h3 {
  font-weight: 550;
}

p {
  color: var(--COR02);
  text-align: center;
  margin: auto;
}

.button {
  text-decoration: none;
  width: 150px;
  text-align: center;
  background-color: black;
  font-size: 0.9rem;
  color: white;
  display: block;
  margin: auto;
  margin: 20px auto;
  padding: 10px;
  border-radius: 2px;
}

.imagem {
  display: block;
  max-width: 80%;
  margin: auto;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.36);
}

.p_grande {
  padding: 10px;
  margin-bottom: 10px;
  width: 80%;
}

#estima_content {
  padding: 40px;
  display: flex;
  justify-content: space-around;
}

.estima_div {
  padding: 10px;
}

.estima_num {
  font-weight: 450;
  font-size: 2rem;
}

.estima_p {
  font-size: 0.8rem;
}

#servicos_container {
  margin-bottom: 20px;
}

.servicos_content {
  display: flex;
  width: 80%;
  margin: auto;
  gap: 15px;
  padding-bottom: 20px;
}

.servicos_img {
  width: 50px;
  height: 55px;
}

.servicos_p {
  text-align: left;
}

.hid_div {
  display: flex;
  justify-content: space-between;
  width: 80%;
  background-color: rgba(211, 211, 211, 0.438);
  padding: 8px;
  margin: 10px auto 10px auto;
  border-radius: 5px;
}

.hid_h3 {
  font-weight: 300;
  font-size: 1.1rem;
}

.hid_img {
  display: none;
  max-width: 80%;
  margin: auto;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.36);
}

#img_jantar {
  width: 50%;
}

.passos_content {
  display: flex;
  width: 80%;
  margin: 20px auto 50px auto;
  gap: 15px;
}

.passos_img {
  width: 50px;
  height: 55px;
}

.passos_p {
  text-align: left;
  margin-top: 10px;
}

.depoimento_container {
  background-color: black;
  width: 300px;
  margin: 10px auto 10px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.344);
}

.depoimento_content {
  display: flex;
  padding-top: 20px;
}

.depoimento_p {
  color: lightgray;
  font-size: 0.8rem;
  width: 90%;
}

.depoimento_div_img {
  width: 80px;
  text-align: center;
}

.depoimento_img {
  width: 40px;
}

.depoimento_nome {
  color: white;
  font-weight: 800;
}

.depoimento_cidade {
  color: lightgray;
  font-size: 0.7rem;
  text-align: left;
}

#mail_h3 {
  font-size: 1.55rem;
  font-weight: 500;
  width: 100%;
}

#mail_container {
  max-width: 500px;
  margin: 20px auto;
  padding: 0 40px 20px 40px;
}

#mail_content {
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  padding: 10px;
  width: 75%;
  background-color: rgb(233, 230, 230);
  border-radius: 5px;
}

#mail_txt {
  border: none;
  padding: 5px;
  background-color: rgb(233, 230, 230);
  width: 100%;
}

#mail_button {
  font-size: 0.7rem;
  width: 100px;
  border-radius: 5px;
  margin: 0 0 0 auto;
  float: right;
}

.material-symbols-outlined {
  align-self: center;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* --------------FOOTER--------------- */

footer {
  background-color: black;
  color: white;
}

footer p {
  color: white;
  margin: 10px auto 10px auto;
}

#footer_logo {
  margin: 10px 10px 0 10px;
  width: 90px;
}

#icone_content {
  width: 60%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}

.icone_img {
  width: 30px;
}

.servicos_footer {
  display: none;
  margin-left: 35%;
  margin-top: 0;
  color: #a3a2a2;
  font-size: 0.8rem;
}

#contato_ul {
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 20px;
  color: #a3a2a2;
}

@media (min-width: 768px) {
  header {
    background-color: white;
  }
  #menu-toggle {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    background-color: white;
    position: relative;
    top: 0px;
    right: -5px;
  }

  nav a {
    color: black;
    font-weight: 500;
  }

  #nav_cadastro {
    border-radius: 5px;
  }

  /*-------BODY-------- */
  body > div {
    width: 90%;
    margin: auto;
  }

  h1 {
    text-align: left;
  }

  h2 {
    font-weight: 500;
  }

  .p_grande {
    text-align: left;
    font-size: 0.9rem;
  }

  #projeto_container {
    display: flex;
    justify-content: space-between;
  }

  #projeto_p {
    /* width: calc(100% - 280px); */
    text-align: left;
    margin: 0 auto 0 0;
  }

  #imagem_01 {
    width: 250px;
    margin: 0 0 0 auto;
    position: relative;
    right: 5%;
  }

  #button_projeto {
    margin-left: 10px;
  }

  #estima_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #estima_content {
    padding: 0;
    margin: 0 auto;
    display: block;
  }

  .estima_div {
    margin: 40px 0px;
  }

  #imagem_02 {
    margin: auto 10px;
    width: 400px;
    height: 250px;
  }

  .servicos_img {
    width: 40px;
    height: 35px;
  }

  .servicos_content {
    margin: 20px 0;
  }

  .servicos_p {
    width: 400px;
  }

  #servicos_even {
    width: 100%;
    justify-content: flex-end;
  }

  #exemplos_container {
    display: flex;
  }

  #exemplos_txt,
  #exemplos_img {
    margin: auto;
  }

  #imagem_03 {
    margin: auto;
  }

  #exemplos_h2 {
    font-size: 1.8rem;
    padding: 0px;
  }

  .hid_h3 {
    align-content: center;
    font-size: 0.9rem;
  }

  #passos_container {
    display: flex;
    justify-content: space-between;
  }

  #passos_img {
    width: 40%;
  }

  .depoimento_container {
    width: 500px;
  }

  #mail_content {
    max-width: 500px;
  }

  #footer_container {
    display: flex;
    justify-content: space-around;
    width: 95%;
  }

  #icone_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
  }

  #icone_p {
    font-size: 0.8rem;
    color: #a3a2a2;
  }

  #icone_content {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
  }

  .servicos_footer {
    display: block;
    margin-left: 30px;
    margin-top: 0;
    color: #a3a2a2;
    font-size: 0.8rem;
    padding-bottom: 20px;
  }
}

@media (min-width: 800px) {
  .depoimentos {
    display: flex;
  }

  .depoimento_container {
    width: 350px;
  }
}
